

    <nav class="navbar navbar-default navbar-fixed-top">

        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand " href="@Url.Action("Index","Home")"><img width="50" height="50" alt="Brand" src="https://cdn0.iconfinder.com/data/icons/social-networks-and-media-flat-icons/136/Social_Media_Socialmedia_network_share_socialnetwork_network-30-128.png"></a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li><button onclick= 'location.href="@Url.Action("Index","Home")"' type="button" class="btn btn-success">HOME <span class="sr-only">(current)</span></button></li>
                    <li>
                        <!-- Split button -->
                        <div class="btn-group navbar-btn btn-group">
                            <button onclick='location.href="@Url.Action("index","video")"' type="button" class="btn btn-success">WATCH NOW</button>
                            <button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span class="caret"></span>
                                <span class="sr-only">Toggle Dropdown</span>
                            </button>
                            <ul class="dropdown-menu">
                                <li><a href="#">Watch all channels</a></li>
                                <li><a href="#">Watch by category</a></li>
                                <li><a href="#">Watch popular tv</a></li>
                                <li role="separator" class="divider"></li>
                                <li><a href="#">Playlists</a></li>
                            </ul>
                        </div>
                    </li>
                    <li>@Html.ActionLink("Video", "Details", "Video", new { id = "3" }, null)</li>
                </ul>

                <ul class="nav navbar-nav navbar-right">
                    @Html.Partial("_LoginPartial")
                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>

