
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - AfghanPlay tv</title>
        @Styles.Render("~/Content/css")

    <link href="~/Content/flexslider.css" rel="stylesheet" />
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
   @Html.Partial("_PartialNavBar", new myimportantproject.Models.LoginViewModel())
    <div class="margin-tops">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>
    
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/jqueryval")
    <script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>
    <script src="~/Scripts/jquery.flexslider-min.js"></script>
    <script>
                    $(document).ready(function () {
                        //$('#fav').click(function () {
                        //    $(this).toggleClass('glyphicon-star-empty');
                        //});
                        ////function onSuccess(result) {
                        ////    if (result.error) {
                        ////        alert(result.error);
                        ////    } else {
                        ////        $('#fav').html(result);
                        ////    }
                        ////}
                    });



    </script>
   
    <script>
    $(window).load(function() {
    $('.flexslider').flexslider({
        animation: false,
        controlNav: false,
        controlsContainer: $(".custom-controls-container"),
        customDirectionNav: $(".custom-navigation a"),
    animationLoop: false,
    itemWidth: 100,
    itemMargin: 0
    });
    });
    </script>
    @RenderSection("scripts", required: false)
    @Html.Partial("_loginModal", new myimportantproject.Models.LoginViewModel())<!--Login popout modal -->
    @Html.Partial("_RegisterModal", new myimportantproject.Models.RegisterViewModel())
</body>
</html>
