@model webpagetest.Models.Video
@using Microsoft.AspNet.Identity

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_VideoLayout.cshtml";
}
@Html.Action("PartialCarousel", "Video")


<div class="carouselFlexTop">  </div>

<div class="videotron margin-tops">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <div class="well header-tron">
                    <img src=" @Html.DisplayFor(model => model.ImageUrl)" class="img-thumbnail image-tron" />
                    <h1>@Html.DisplayFor(model => model.Name)</h1>
                    
                </div>
                <div class="video-content">
                    <iframe class="embed-responsive-item" height="420" width="100%" src="@Html.DisplayFor(model => model.VideoUrl)" allowfullscreen style="border: none;margin-bottom: -5px;"></iframe>
                    <div class="progress">
                        <div class="progress-bar progress-bar-success progress-bar-striped" role="progressbar" style="width: @likeProcent()%">
                        </div>
                        <div class="progress-bar progress-bar-warning progress-bar-striped" role="progressbar" style="width: @disLikeProcent()%">
                        </div>
                    </div>

                 
                    <div class="clearfix"></div>
                </div>
                @Ajax.ActionLink(" ", "AddToFav",
                                                  new { id = (Model.VideoID) },
                                                  new AjaxOptions
                                                  {
                                                      HttpMethod = "POST",
                                                      OnSuccess = "favoriteToggle",
                                                  },
                                                  new { @class = "btn btn-default glyphicon", id = "fav" })                
                @Ajax.ActionLink(" ", "AddToWatchLater",
                                                  new { id = (Model.VideoID) },
                                                  new AjaxOptions
                                                  {
                                                      HttpMethod = "POST",
                                                      OnSuccess = "watchLaterToggle",
                                                  },
                                                  new { @class = "btn btn-default glyphicon glyphicon-heart", id = "watch" })
                @Ajax.ActionLink(" ", "thumbsUp",
         new { id = (Html.DisplayName(Model.Name)) },
         new AjaxOptions
         {
             HttpMethod = "POST",
             OnSuccess = "disableLikeDisklike",
             /* UpdateTargetId = "likeCountDiv",*/
         },
         new { @class = "btn btn-default glyphicon glyphicon-thumbs-up", id = "like" })

                @Ajax.ActionLink(" ", "thumbsDown",
     new { id = (Html.DisplayName(Model.Name)) },
     new AjaxOptions
     {
         HttpMethod = "POST",
         OnSuccess = "disableLikeDisklike",
         /* UpdateTargetId = "likeCount",*/
     },
     new { @class = "btn btn-default glyphicon glyphicon-thumbs-down", id = "dislike" })


                    <div class="well-sm">
                        <!-- Nav tabs -->
                        <ul class="nav nav-tabs" role="tablist">
                            <li class="active">
                                <a href="#Info" role="tab" data-toggle="tab">
                                    <icon class="fa fa-home"></icon> Info
                                </a>
                            </li>
                            <li>
                                <a href="#Share" role="tab" data-toggle="tab">
                                    <i class="fa fa-user"></i> Share
                                </a>
                            </li>
                            <li>
                                <a href="#Report" role="tab" data-toggle="tab">
                                    <i class="fa fa-envelope"></i> Report
                                </a>
                            </li>
                            <li>
                                <a href="#Stats" role="tab" data-toggle="tab">
                                    <i class="fa fa-cog"></i> Stats
                                </a>
                            </li>
                        </ul>

                        <!-- Tab panes -->
                        <div class="tab-content">
                            <div class="tab-pane fade active in" id="Info">
                                <h2>@Html.DisplayFor(model => model.Name)</h2>
                                <p>@Html.DisplayFor(model => model.Discription) </p>
                            </div>
                            <div class="tab-pane fade" id="Share">
                                <h2>Sharing this video</h2>
                                <p>Sharing options is going to be provided</p>
                            </div>
                            <div class="tab-pane fade" id="Report">
                                <h2>Some options to report video coming soon in this place</h2>
                            </div>
                            <div class="tab-pane fade" id="Stats">
                                <h2>Here a google analytics api would be integrated to show some stat</h2>
                                <p>More about this coming soon </p>
                            </div>
                        </div>
                    </div>
                    <p>
                        @*@Html.ActionLink("Edit", "Edit", new { id = Model.VideoID }) |*@
                        @Html.ActionLink("To Category", "Index")
                    </p>
           
            
            </div>
            <div class="col-md-4">
                
                <img src="http://placehold.it/350x250/000000" />
                <div class="margin-tops">
                    @Html.Partial("_Chat")
                </div>
        </div>
    </div>
</div>



@functions{ public int likeProcent()
    {
        int thumbsUp = Model.thumbsUp;
        int thumbsDown = Model.thumbsDown;
        decimal sum = thumbsUp + thumbsDown;
        int procent=0;
        if (sum != 0)
        {
            procent = Convert.ToInt32(thumbsUp / sum * 100);
        }
        return procent;
    }
    public int disLikeProcent()
    {
        return (100 - likeProcent());
    }
}

@section scripts {
    <!--Script references. -->
    <!--The jQuery library is required and is referenced by default in _Layout.cshtml. -->
    <!--Reference the SignalR library. -->
    <script src="~/Scripts/jquery.signalR-2.2.0.min.js"></script>
    <!--Reference the autogenerated SignalR hub script. -->
    <script src="~/signalr/hubs"></script>
    <!--SignalR script to update the chat page and send messages.-->
    <script>
        $(function () {
            // Reference the auto-generated proxy for the hub.
            var chat = $.connection.chatHub;
            // Create a function that the hub can call back to display messages.
            chat.client.addNewMessageToPage = function (name, message) {
                // Add the message to the page.
                $('#discussion').append('<li><strong>' + htmlEncode(name)
                    + '</strong>: ' + htmlEncode(message) + '</li>');
            };
            var name = "@User.Identity.GetUserName().Split('@').First().ToString()";
            // Get the user name and store it to prepend to messages.
            @{if (Request.IsAuthenticated) {
                <text> $('#displayname').val(name);</text>
                } else {
                <text> $('#displayname').val("User " + Math.floor((Math.random() * 100) + 1));</text>
        // $('#displayname').val(prompt('Enter your name:', '')); (Alias Window... what you had)
    } }
            // Set initial focus to message input box.
            $('#message').focus();
            // Start the connection.
            $.connection.hub.start().done(function () {
                $('#sendmessage').click(function () {
                        // Call the Send method on the hub.
                        chat.server.send($('#displayname').val(), $('#message').val());
                    // Clear text box and reset focus for next comment.
                    $('#message').val('').focus();
                    });
                });
        });
        // This optional function html-encodes messages for display in the page.
        function htmlEncode(value) {
            var encodedValue = $('<div />').text(value).html();
            return encodedValue;
        }
    </script>

<script language="javascript" type="text/javascript">
        function favoriteToggle(data) {
            if (data == '0') {

                $("#fav").addClass('glyphicon-star-empty');
                $("#fav").removeClass('glyphicon-star');

            }

            else if (data == '1') {

                $("#fav").removeClass('glyphicon-star-empty');
                $("#fav").addClass('glyphicon-star');
            }

            else if (data == '2') {

                alert('Du har nått maxgränsen för antalat filmer i din se-senarelista (50 stycken). För mer information, besök vår sida om vanliga frågor.');

            }
            else if(data == '4'){
                alert('Please login to add this video to your lists');
            }

            else {

                alert('Ogiltigt svar från servern: ' + data);

            }

        }

        $("#message").keyup(function(event){
            if(event.keyCode == 13){
                $("#sendmessage").click();
            }
        });
        function disableLikeDisklike(data) {
            $("#like").addClass('disabled');
            $("#dislike").addClass('disabled');
        }
        function watchLaterToggle(data) {
            if (data == '0') {

                $("#watch").addClass('glyphicon-heart-empty');
                $("#watch").removeClass('glyphicon-heart');

            }

            else if (data == '1') {

                $("#watch").removeClass('glyphicon-heart-empty');
                $("#watch").addClass('glyphicon-heart');
            }

            else if (data == '2') {

                alert('Du har nått maxgränsen för antalat filmer i din se-senarelista (50 stycken). För mer information, besök vår sida om vanliga frågor.');

            }

            else {

                alert('Ogiltigt svar från servern: ' + data);

            }

        }

    function OnFailure(xhr, status) {
        alert('Error: '+xhr.statusText);
    }


    $(document).ready(function () {
        if( @Html.Action("AddToFav",new {isOn=true })==2){
            $("#fav").addClass('glyphicon-star');
        } else {
            $("#fav").addClass('glyphicon-star-empty');
        }

        if( @Html.Action("AddToWatchLater",new {isOn=true })==2){
            $("#watch").addClass('glyphicon-heart');
        } else {
            $("#watch").addClass('glyphicon-heart-empty');
        }

    });
</script>

}
}