@model myimportantproject.ViewModel.VideoPlayList

@{
    ViewBag.Title = "Favorite Videos";
}

<h2>Your Favorite lists</h2>


<div class="btn-group" role="group" aria-label="...">
    

    @foreach (var item in Model.Playlists)
    {
        string selectedRow = "";
        if (item.PlaylistID == ViewBag.PlayListID)
        {
            selectedRow = "success";
        }

    <button type="button" onclick="location.href='@Url.Action("Index","Playlist", new { id = item.PlaylistID })'" class="btn btn-@selectedRow">@Html.DisplayFor(modelItem => item.Title)</button>
    }
</div>


@if (Model.Videos != null)
{
    <h3>Your Videos</h3>


    <div class="row">
        @foreach (var item in Model.Videos)
        {
            <div class="col-sm-6 col-md-3">
                <div class="thumbnail">
                    <a href="@Url.Action("Details", "Video", new { id=item.VideoID })">
                        <img src=" @Html.DisplayFor(modelItem => item.ImageUrl)" alt=" @Html.DisplayFor(modelItem => item.Name)">
                    </a>
                    <div class="caption">
                        <h3>@Html.DisplayFor(modelItem => item.Name)</h3>
                    </div>
                </div>
            </div>
        }
    </div>
}
